.contact {
  margin-top: 10em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .body {
    padding-top: 00px;
    width: 100%;
    max-width: 1800px;

    .title {
      border-bottom: 1px solid rgb(134, 134, 134);
      padding-bottom: 100px;
      margin-left: 200px;
      margin-right: 200px;
      position: relative;
      span {
        display: flex;
        align-items: center;
        .imageContainer {
          width: 100px;
          height: 100px;
          position: relative;
          border-radius: 50%;
          overflow: hidden;

          img {
            object-fit: cover;
          }
        }
        .heading2 {
          margin-left: 0.3em;
        }
      }
      .heading2 {
        font-size: 5vw;
        margin: 0px;
        font-weight: 300;
      }
      .buttonContainer {
        position: absolute;
        left: calc(100% - 400px);
        top: calc(100% - 75px);
      }
      .button {
        width: 180px;
        height: 180px;
        background-color: #455ce9;
        color: white;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .para2 {
          margin: 0px;
          font-size: 16px;
          font-weight: 300;
          z-index: 2;
          position: relative;
        }
      }
      svg {
        position: absolute;
        top: 30%;
        left: 100%;
      }
    }
    .nav {
      display: flex;
      gap: 20px;
      margin-top: 100px;
      margin-left: 200px;
      margin-right: 200px;
    }
    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 200px;
      padding: 20px;
      div {
        display: flex;
        gap: 10px;
        align-items: flex-end;
        .para2,
        .heading2 {
          margin: 0px;
          padding: 2.5px;
          cursor: pointer;
        }
        .para2 {
          &::after {
            content: "";
            width: 0%;
            height: 1px;
            background-color: white;
            display: block;
            margin-top: 2px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.2s linear;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
        span {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
        .heading2 {
          color: grey;
          cursor: default;
          font-weight: 300;
          font-size: 1em;
        }
      }
    }
  }
}

@media only screen and (max-width: 1290px) {
  .contact {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    position: relative;
    .body {
      padding-top: 0px;
      width: 100%;
      max-width: 1800px;

      .title {
        border-bottom: 1px solid rgb(134, 134, 134);
        padding-bottom: 100px;
        margin-left: 50px;
        margin-right: 50px;
        position: relative;
        span {
          display: flex;
          align-items: center;
          .imageContainer {
            width: 100px;
            height: 100px;
            position: relative;
            border-radius: 50%;
            overflow: hidden;

            img {
              object-fit: cover;
            }
          }
          .heading2 {
            margin-left: 0.3em;
          }
        }
        .heading2 {
          font-size: 5vw;
          margin: 0px;
          font-weight: 300;
        }
        .buttonContainer {
          position: absolute;
          left: calc(100% - 400px);
          top: calc(100% - 75px);
        }
        .button {
          width: 150px;
          height: 150px;
          background-color: #455ce9;
          color: white;
          border-radius: 50%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .para2 {
            margin: 0px;
            font-size: 16px;
            font-weight: 300;
            z-index: 2;
            position: relative;
          }
        }
        svg {
          position: absolute;
          top: 30%;
          left: 100%;
        }
      }
      .nav {
        display: flex;
        gap: 20px;
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 0px;
      }
      .info {
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
        padding: 20px;
        div {
          display: flex;
          gap: 10px;
          align-items: flex-end;
          .para2,
          .heading2 {
            margin: 0px;
            padding: 2.5px;
            cursor: pointer;
          }
          .para2 {
            &::after {
              content: "";
              width: 0%;
              height: 1px;
              background-color: white;
              display: block;
              margin-top: 2px;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              transition: width 0.2s linear;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
          span {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }
          .heading2 {
            color: grey;
            cursor: default;
            font-weight: 300;
            font-size: 1em;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 890px) {
  .contact {
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    position: relative;
    .body {
      padding-top: 0px;
      width: 100%;
      max-width: 98vw;

      .title {
        border-bottom: 1px solid rgb(134, 134, 134);
        padding-bottom: 100px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        span {
          display: flex;
          align-items: center;
          .imageContainer {
            width: 100px;
            height: 100px;
            position: relative;
            border-radius: 50%;
            overflow: hidden;

            img {
              object-fit: cover;
            }
          }
          .heading2 {
            margin-left: 0.3em;
          }
        }
        .heading2 {
          font-size: 5vw;
          margin: 0px;
          font-weight: 300;
        }
        .buttonContainer {
          position: absolute;
          left: calc(100% - 400px);
          top: calc(100% - 75px);
        }
        .button {
          width: 150px;
          height: 150px;
          background-color: #455ce9;
          color: white;
          border-radius: 50%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .para2 {
            margin: 0px;
            font-size: 16px;
            font-weight: 300;
            z-index: 2;
            position: relative;
          }
        }
        svg {
          position: absolute;
          top: 30%;
          left: 100%;
        }
      }
      .nav {
        display: flex;
        gap: 20px;
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 0px;
      }
      .info {
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
        padding: 20px;
        div {
          display: flex;
          gap: 10px;
          align-items: flex-end;
          .para2,
          .heading2 {
            margin: 0px;
            padding: 2.5px;
            cursor: pointer;
          }
          .para2 {
            &::after {
              content: "";
              width: 0%;
              height: 1px;
              background-color: white;
              display: block;
              margin-top: 2px;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              transition: width 0.2s linear;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
          span {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }
          .heading2 {
            color: grey;
            cursor: default;
            font-weight: 300;
            font-size: 1em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 510px) {
  .contact {
    margin-top: 5em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    position: relative;
    .body {
      padding-top: 0px;
      width: 100%;
      max-width: 1800px;

      .title {
        border-bottom: 1px solid rgb(134, 134, 134);
        padding-bottom: 100px;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        span {
          display: flex;
          align-items: center;
          .heading2 {
            margin-left: 0.3em;
          }
        }
        .heading2 {
          font-size: 5vw;
          margin: 0px;
          font-weight: 300;
        }
        .buttonContainer {
          position: absolute;
          left: calc(100% - 250px);
          top: calc(100% - 75px);
        }
        .button {
          width: 120px;
          height: 120px;
          background-color: #455ce9;
          color: white;
          border-radius: 50%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .para2 {
            margin: 0px;
            font-size: 16px;
            font-weight: 300;
            z-index: 2;
            position: relative;
          }
        }
        svg {
          position: absolute;
          top: 50%;
          left: 90%;
        }
      }
      .nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 100px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px 5px 0px 5px;
      }
      .info {
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
        padding: 20px;
        div {
          display: flex;
          gap: 10px;
          align-items: flex-end;
          .para2,
          .heading2 {
            margin: 0px;
            padding: 2.5px;
            cursor: pointer;
          }
          .para2 {
            &::after {
              content: "";
              width: 0%;
              height: 1px;
              background-color: white;
              display: block;
              margin-top: 2px;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              transition: width 0.2s linear;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
          span {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }
          .heading2 {
            color: grey;
            cursor: default;
            font-weight: 300;
            font-size: 1em;
          }
        }
      }
    }
  }
}
