.container {
  height: 300vh;
  position: relative;
  .sticky {
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100vh;

    .el {
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      .imageContainer {
        position: relative;
        width: 25vw;
        height: 26vh;
        overflow: hidden;
        img {
          object-fit: cover;
        }
      }
      &:nth-of-type(2) {
        .imageContainer {
          top: -26vh;
          left: 4.4vw;
          width: 30vw;
          height: 20vh;
          overflow: hidden;
        }
      }
      &:nth-of-type(3) {
        .imageContainer {
          top: -11vh;
          left: -26.5vw;
          width: 24vw;
          height: 45vh;
          overflow: hidden;
        }
      }
      &:nth-of-type(4) {
        .imageContainer {
          left: 26vw;
          width: 22vw;
          overflow: hidden;
          height: 26vh;
        }
      }
      &:nth-of-type(5) {
        .imageContainer {
          top: 29vh;
          left: 1vw;
          width: 24vw;
          height: 25vh;
          overflow: hidden;
        }
      }
      &:nth-of-type(6) {
        .imageContainer {
          top: 28vh;
          left: -28vw;
          width: 30vw;
          overflow: hidden;
          height: 25vh;
        }
      }
      &:nth-of-type(7) {
        .imageContainer {
          top: 27vh;
          left: 24vw;
          width: 18vw;
          overflow: hidden;
          height: 20vh;
        }
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  .container {
    height: 300vh;
    position: relative;
    .sticky {
      position: sticky;
      overflow: hidden;
      top: 5em;
      max-height: 100vh;

      .el {
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        .imageContainer {
          position: relative;
          width: 33vw;
          height: 25vh;
          overflow: hidden;
          img {
            object-fit: cover;
          }
        }
        &:nth-of-type(2) {
          .imageContainer {
            top: -26vh;
            left: 14vw;
            width: 50vw;
            height: 20vh;
            overflow: hidden;
          }
        }
        &:nth-of-type(3) {
          .imageContainer {
            top: -6vh;
            left: -33vw;
            width: 26vw;
            height: 45vh;
            overflow: hidden;
          }
        }
        &:nth-of-type(4) {
          .imageContainer {
            left: 34vw;
            width: 20vw;
            overflow: hidden;
            height: 18vh;
          }
        }
        &:nth-of-type(5) {
          .imageContainer {
            top: 32vh;
            left: 7vw;
            width: 26vw;
            height: 45vh;
            overflow: hidden;
          }
        }
        &:nth-of-type(6) {
          .imageContainer {
            top: 22vh;
            left: -28vw;
            width: 32vw;
            overflow: hidden;
            height: 25vh;
          }
        }
        &:nth-of-type(7) {
          .imageContainer {
            top: 32vh;
            left: 34vw;
            width: 18vw;
            overflow: hidden;
            height: 40vh;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .container {
    height: 300vh;
    position: relative;
    .sticky {
      position: sticky;
      overflow: hidden;
      top: 5em;
      max-height: 100vh;

      .el {
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        .imageContainer {
          position: relative;
          width: 33vw;
          height: 25vh;
          overflow: hidden;
          img {
            object-fit: cover;
          }
        }
        &:nth-of-type(2) {
          .imageContainer {
            top: -26vh;
            left: 14vw;
            width: 50vw;
            height: 20vh;
            overflow: hidden;
          }
        }
        &:nth-of-type(3) {
          .imageContainer {
            top: -6vh;
            left: -33vw;
            width: 26vw;
            height: 45vh;
            overflow: hidden;
          }
        }
        &:nth-of-type(4) {
          .imageContainer {
            left: 34vw;
            width: 20vw;
            overflow: hidden;
            height: 18vh;
          }
        }
        &:nth-of-type(5) {
          .imageContainer {
            top: 32vh;
            left: 7vw;
            width: 26vw;
            height: 45vh;
            overflow: hidden;
          }
        }
        &:nth-of-type(6) {
          .imageContainer {
            top: 22vh;
            left: -28vw;
            width: 32vw;
            overflow: hidden;
            height: 25vh;
          }
        }
        &:nth-of-type(7) {
          .imageContainer {
            top: 32vh;
            left: 34vw;
            width: 18vw;
            overflow: hidden;
            height: 40vh;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    margin-top: -4em;
    height: 140vh;
    position: relative;
    .sticky {
      position: sticky;
      overflow: hidden;
      top: 5em;
      max-height: 90vh;

      .el {
        width: 100%;
        height: 100%;
        top: 8rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        .imageContainer {
          position: relative;
          width: 43vw;
          height: 25vh;
          overflow: hidden;
          img {
            object-fit: cover;
          }
        }
        &:nth-of-type(2) {
          .imageContainer {
            top: -23vh;
            left: 14vw;
            width: 60vw;
            height: 16vh;
            overflow: hidden;
          }
        }
        &:nth-of-type(3) {
          .imageContainer {
            top: -6vh;
            left: -33vw;
            width: 26vw;
            height: 45vh;
            overflow: hidden;
          }
        }
        &:nth-of-type(4) {
          .imageContainer {
            top: 2vh;
            left: 36vw;
            width: 22vw;
            overflow: hidden;
            height: 18vh;
          }
        }
        &:nth-of-type(5) {
          .imageContainer {
            top: 28vh;
            left: 7vw;
            width: 26vw;
            height: 45vh;
            overflow: hidden;
          }
        }
        &:nth-of-type(6) {
          .imageContainer {
            top: 18vh;
            left: -28vw;
            width: 36vw;
            overflow: hidden;
            height: 25vh;
          }
        }
        &:nth-of-type(7) {
          .imageContainer {
            top: 28vh;
            left: 35vw;
            width: 22vw;
            overflow: hidden;
            height: 40vh;
          }
        }
      }
    }
  }
}
