.images_container {
  width: 100%;
}

.images_head {
  margin: 10vw;
  margin-left: 16em;
}

.images_blocks {
  padding-bottom: 6px;
  font-weight: 400;
  line-height: 24px;
  font-size: 24px;
  color: #8082ff;
}

.images_title {
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.headings {
  font-size: 88px;
  line-height: 88px;
  font-family: labil;
  font-style: normal;
  font-weight: 600;
}
.cardscrollup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.scroll-up,
.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 287px;
  gap: 24px;
}

.roundedcards {
  width: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
