.mobilescreen_container {
  margin: 0 111px;
  font-size: 5.5rem;
  height: 20vh;
  padding: 5rem 20px;
  letter-spacing: -0.01em;
  line-height: 1;
  display: flex;
  flex-direction: row;
}

.mobilescreen-card {
  padding-top: 3.5rem;
  height: 100vh;
  width: 50%;
}
.mobilescreen-card .mobilescreen-title {
  font-weight: 400;
  font-size: 1.5rem;
  color: #8082ff;
  margin-bottom: 1em;
}
.mobilescreen-card .mobilescreen-title svg {
  margin-right: 6px;
}
.mobilescreen-card .mobilescreen-heading {
  font-size: 6rem;
  margin-bottom: 2.5rem;
  padding-right: 17%;
}
.mobilescreen-card .mobilescreen-content {
  padding-right: 25%;
  font-size: 2rem;
  letter-spacing: -0.01em;
  color: #adadad;
  line-height: 1;
}

.mobile-screen_right {
  height: 400px;
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: center;
}

.mobilescreen1,
.mobilescreen2,
.mobilescreen3 {
  width: 250px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 59px;
  border: 12px solid #1a1a1a;
  background: url(../assets/mobilescreen1.webp);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
