/* .textbox_container {
  width: 100%;
}

.para {
  position: fixed;
  width: 880px;
  font-size: 3.5rem;
  padding: 5rem 12vw;
  letter-spacing: -0.01em;
  line-height: 1;
  transition: opacity 0.5s ease;
} */

.textbox_container {
  overflow: auto;
  font-size: 3.5rem;
  letter-spacing: -0.01em;
  scroll-snap-type: proximity;
  display: block;
}
