:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;
}

#cards {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
}

#card-1 {
  --index: 1;
}

#card-2 {
  --index: 2;
}

#card-3 {
  --index: 3;
}

#card-4 {
  --index: 4;
}

.card02 {
  position: sticky;
  top: 10rem;
  width: 1400px;
  margin: 0 auto;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

.card-content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);

  width: 100%;
  height: 70vh;
  margin: 0 auto;
  color: #131212;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1.4em;
}
.card-content2 {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);

  width: 80%;
  position: absolute;
  top: 10.2rem;
  right: 0rem;
  height: 55vh;
  color: #131212;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1.4em;
}
.card-content3 {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  width: 50%;
  position: absolute;
  top: 22rem;
  right: 0rem;
  height: 36vh;
  margin: 0 auto;
  color: #131212;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1.4em;
}

.card-content > div {
  grid-area: text;
  width: 95%;
  max-width: 800px;
  place-self: center;
  text-align: left;
  display: grid;
  gap: 1em;
  place-items: start;
}

.card-content > figure {
  grid-area: img;
  overflow: hidden;
}

.card-content > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4em;
}

/* .head02 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Cormorant Garamond", serif;
}

.head03 {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
}

.para03 {
  font-weight: 300;
  line-height: 1.42;
  font-size: 1.1rem;
} */

/* Animation */
@supports (animation-timeline: works) {
  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets: selector(#cards) start 1, selector(#cards) start 0;
    start: selector(#cards) start 1;
    end: selector(#cards) start 0;
    time-range: 4s;
  }

  .card02 {
    --index0: calc(var(--index) - 1);
    --reverse-index: calc(var(--numcards) - var(--index0));
    --reverse-index0: calc(var(--reverse-index) - 1);
  }

  .card__content {
    transform-origin: 50% 0%;
    will-change: transform;

    --duration: calc(var(--reverse-index0) * 1s);
    --delay: calc(var(--index0) * 1s);

    animation: var(--duration) linear scale var(--delay) forwards;
    animation-timeline: cards-element-scrolls-in-body;
  }

  @keyframes scale {
    to {
      transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
  }
}

@media only screen and (min-width: 1450px) and (max-width: 1600px) {
  .card02 {
    position: sticky;
    top: 6rem;
    padding-top: calc(var(--index) * var(--card-top-offset));
  }
  .card-content {
    height: 500px;
  }
  .card-content2 {
    height: 428px;
    top: 5.5rem;
  }
  .card-content3 {
    height: 320px;
    top: 12.2rem;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1450px) {
  .card02 {
    top: 5rem;
    width: 1100px;
  }

  .card-content {
    height: 500px;
  }
  .card-content2 {
    height: 428px;
    top: 5.5rem;
  }
  .card-content3 {
    height: 320px;
    top: 12.3rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .card02 {
    top: 7rem;
    width: 1000px;
  }

  .card-content {
    height: 400px;
  }
  .card-content2 {
    height: 336px;
    top: 5rem;
  }
  .card-content3 {
    height: 256px;
    top: 10rem;
  }
}
/* @media only screen and (min-width: 980px) and (max-width: 1024px) {
  .card02 {
    top: 7rem;
    width: 800px;
  }

  .card-content {
    height: 400px;
  }
  .card-content2 {
    height: 336px;
    top: 5rem;
  }
  .card-content3 {
    height: 256px;
    top: 10rem;
  }
} */

@media only screen and (max-width: 1024px) {
  .card02 {
    top: 10rem;
    width: 100vw;
    padding: 10px;
  }

  .card-content {
    position: static;
    height: 100%;
    width: 100%;
  }
  .card-content2 {
    position: static;
    height: 100%;
    width: 100%;
  }
  .card-content3 {
    position: static;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 510px) {
  #cards {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    gap: var(--card-margin);
    padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    margin-bottom: 40rem;
  }

  .card02 {
    position: relative;
    overflow: hidden;
    top: -2rem;
    width: 100vw;

    height: min-content;
    padding: 10px;
  }

  .card-content {
    border-radius: 12px;
    height: 100%;
    width: 100%;
  }
  .card-content2 {
    margin-top: 20rem;
    border-radius: 12px;
    height: 100%;
    width: 100%;
  }
  .card-content3 {
    margin-top: 34rem;
    border-radius: 12px;
    height: 100%;
    width: 100%;
  }
}
/* @media only screen and (max-width: 510px) {
  .card02 {
    width: 100%;
    top: 5rem;
  }

  .card-content {
    position: absolute;
    height: 30rem;
    left: 0;
    width: 100%;
  }
  .card-content2 {
    position: absolute;
    height: 30rem;

    width: 100%;
  }
  .card-content3 {
    position: absolute;
    height: 30rem;
    width: 100%;
  }
} */
