.container10 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20vw;
  margin-top: 300px;
  margin-bottom: 300px;
}

.body03 {
  font-size: 2vw;
}

.lineMask {
  overflow: hidden;
}

.lineMask p {
  margin: 0px;
  font-weight: 400;
}

@media only screen and (max-width: 1300px) {
  .body03 {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 980px) {
  .body03 {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 590px) {
  .body03 {
    font-size: 4.8vw;
  }
}
