
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #000000; */
 
background: 
  radial-gradient(
    circle at center, 
    transparent 0%, 
    transparent 30%, 
    rgba(255, 255, 255, 0.6) 70%,  
    rgba(255, 255, 255, 0.6) 100%  
  ),

  linear-gradient(
    to right, 
    #e2eef6 0%,     
    #d3def8 45%,    
    #c8d3f8 65%,   
    #dcd6f7 85%,    
    #f1eef6 100%    
  );

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
