.main {
  height: 100vh;
  display: flex;
  top: 12%;
  left: 5%;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.main__text-wrapper {
  position: relative;
  padding: 2em;
}
.main__text-wrapper:before,
.main__text-wrapper:after {
  content: "";
  display: block;
  position: absolute;
}

.arrow {
  z-index: 1000;
  opacity: 0.7;

  top: 20%;
  position: absolute;
}
.arrow--top {
  z-index: 0;
  top: 3em;
  left: -5em;
}
.arrow--bottom {
  z-index: 0;
  bottom: 0;
  right: 3em;
}

.dotted-circle {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  animation: rotation 38s linear infinite;
}
.draw-in {
  stroke-dasharray: 1000;
  stroke-dashoffset: 10;
  animation: draw 15s ease-in-out alternate infinite;
}
@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.item-to {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: ease;
}
.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}
.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}
@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes gradient-fade {
  0% {
    transform: translate(10%, -10%) rotate(0deg);
  }
  50% {
    transform: translate(50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(10%, -10%) rotate(0deg);
  }
}
@keyframes gradient-fade-alt {
  from {
    transform: translate(-20%, 20%) rotate(0deg);
  }
  to {
    transform: translate(-60%, 60%) rotate(360deg);
  }
}

/* Animation 2 ----------------------------------------------*/
.animation-container {
  display: block;
  position: absolute;
  top: 20%;
  width: 100%;
  left: 60%;
  max-width: 100%;
  margin: 10em auto;

  /* .lightning-container {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    transform: translateY(-50%);

    .lightning {
      position: absolute;
      display: block;
      height: 12px;
      width: 12px;
      opacity: 50%;
      border-radius: 12px;
      transform-origin: 6px 6px;

      animation-name: woosh;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-direction: alternate;

      &.white {
        background-color: white;
        box-shadow: 0px 50px 50px 0px transparentize(white, 0.7);
      }

      &.red {
        background-color: #7186fc;
        box-shadow: 0px 50px 50px 0px transparentize(#7186fc, 0.7);
        animation-delay: 0.2s;
      }
    }
  } */

  .boom-container {
    position: absolute;
    display: flex;
    width: 180px;
    height: 180px;
    text-align: center;
    align-items: center;
    transform: translateY(-50%);
    left: 200px;
    top: -145px;

    .shape {
      display: inline-block;
      position: relative;
      opacity: 0;
      transform-origin: center center;

      &.circle {
        width: 20px;
        height: 20px;
        animation-name: boom-circle;
        animation-duration: 10s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        border-radius: 100%;
        margin-left: -30px;

        &.white {
          border: 1px solid rgba(255, 255, 255, 0.517);
        }

        &.big {
          width: 40px;
          height: 40px;
          margin-left: 0px;

          &.white {
            border: 2px solid rgba(255, 255, 255, 0.631);
          }
        }
      }

      &:after {
        background-color: rgba(178, 215, 232, 0.2);
      }
    }

    .shape {
      &.triangle,
      &.circle,
      &.circle.big,
      &.disc {
        animation-delay: 0.38s;
        animation-duration: 3s;
      }

      &.circle {
        animation-delay: 0.6s;
      }
    }

    &.second {
      left: 485px;
      top: 155px;
      .shape {
        &.triangle,
        &.circle,
        &.circle.big,
        &.disc {
          animation-delay: 1.9s;
        }
        &.circle {
          animation-delay: 5.15s;
        }
      }
    }
  }
}

@keyframes woosh {
  0% {
    width: 12px;
    transform: translate(0px, 0px) rotate(-35deg);
  }
  15% {
    width: 50px;
  }
  30% {
    width: 12px;
    transform: translate(214px, -150px) rotate(-35deg);
  }
  30.1% {
    transform: translate(214px, -150px) rotate(46deg);
  }
  50% {
    width: 110px;
  }
  70% {
    width: 12px;
    transform: translate(500px, 150px) rotate(46deg);
  }
  70.1% {
    transform: translate(500px, 150px) rotate(-37deg);
  }

  85% {
    width: 50px;
  }
  100% {
    width: 12px;
    transform: translate(700px, 0) rotate(-37deg);
  }
}

@keyframes boom-circle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(2);
  }
}

@keyframes boom-triangle-big {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }

  40% {
    opacity: 0;
    transform: scale(2.5) translate(50px, -50px) rotate(360deg);
  }
  100% {
  }
}

@keyframes boom-triangle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
    transform: scale(3) translate(20px, 40px) rotate(360deg);
  }

  100% {
  }
}

@keyframes boom-disc {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale(2) translate(-70px, -30px);
  }
  100% {
  }
}

/* ---- Animation3 --------------------------------------*/

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  position: absolute;

  width: 100%;
  height: 70vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(106, 96, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
/*--- ANIMATION 3 ----------------------------------------------------*/
.dot {
  height: 250px;
  width: 390px;
  background-color: #4848f839;
  border-radius: 50%;
  position: absolute;
  animation: spinner 20s infinite linear;
}
.circle2 {
  height: 250px;
  width: 290px;
  background-color: #4848f821;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 40%;
  animation: spinner 25s infinite linear;
}
.jumpTo {
  animation: jumpTwo 4s infinite linear;
}
.spinner {
  position: absolute;
  left: 10%;
  z-index: 0;
  top: 15%;
  animation: spinner 20s infinite linear;
}
.spinnerR {
  position: absolute;
  right: 14%;
  z-index: 0;
  top: 25%;
  animation: spinner 20s infinite linear;
}

.spinner2 {
  z-index: 0;
  position: absolute;
  right: 6%;
  top: 10%;
  animation: bounce-3 4s infinite linear;
}
.spinner3 {
  position: absolute;
  left: -25%;
  z-index: 0;
  top: 40%;
  opacity: 70%;
  animation: spinner 34s infinite linear;
}
.upDown1 {
  z-index: 0;
  position: absolute;
  top: 44%;
  left: 2%;
  animation: bounce-2 4s infinite linear;
}
.bubble-two {
  position: absolute;
  width: 160px;
  height: 160px;
  animation: rotated 17s infinite linear;
}
.bubble-one {
  width: 120px;
  height: 120px;
  left: 4%;
  top: 15%;
  animation: rotated 12s infinite linear;
}
.icon {
  position: absolute;
  border-radius: 50%;
  animation: ripple 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.06);
  }

  100% {
    box-shadow: 0 0 0 3rem rgba(255, 255, 255, 0);
  }
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@media only screen and (max-width: 1460px) {
  .spinner {
    position: absolute;
    left: -4%;
    top: 15%;
    animation: spinner 20s infinite linear;
  }
  .spinner2 {
    position: absolute;
    right: -2%;
    top: 10%;
    animation: bounce-3 4s infinite linear;
  }
}

/* ANIMATION 3------------------------------------------------------------------------ */

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.background-grid {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  z-index: 2;
  position: relative;
  pointer-events: none;
}
.background-grid li {
  margin: 0;
  padding: 0;
  border-right: 1px solid rgb(21 56 92 / 0.06);
  width: 16.66%;
  list-style: none;
}
.background-blurs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  perspective: 800px;
}
.background-blurs > [class*="blur"] {
  animation: rotate 30s linear infinite;
  transform-origin: top left;
  perspective: 800px;
}
.background-blurs > [class="blur-2"] {
  animation: rotate-backwards 30s linear infinite;
}
.background-blurs > [class="blur-2"] > span {
  width: 800px !important;
  height: 800px !important;
}
.background-blurs > [class="blur-3"] > span {
  width: 700px !important;
  height: 700px !important;
}
.background-blurs > [class*="blur"] > span {
  display: block;
  width: 500px;
  background: url(./assets/images/blurry.png);
  border-radius: 100%;
  height: 500px;
  background-size: cover;
  margin-left: -125px;
  margin-top: -125px;
}
.background-blurs > [class*="blur"]::before {
  content: " ";
  display: block;
  width: 200px;
  height: 200px;
  background: rgb(255 255 255 / 20%);
  animation: gradient-fade 30s ease-in-out infinite;
  position: absolute;
  z-index: 0;
  margin: -100px 0 0 -100px;
  border-radius: 100%;
}
.blur-1 {
  position: absolute;
  left: 23%;
  top: 20%;
  width: 0px;
  height: 0px;
}
.blur-2 {
  position: absolute;
  right: 20%;
  top: 30%;
  width: 0px;
  height: 0px;
  animation-delay: 1s !important;
}
.blur-2::before {
  display: none !important;
}
.blur-3 {
  position: absolute;
  right: 35%;
  top: 63%;
  width: 0px;
  height: 0px;
  animation-delay: 6s !important;
}

.blur-1 > span {
  animation: blur1 10s ease infinite;
}
.blur-2 > span {
  animation: blur2 10s ease infinite;
}
.blur-3 > span {
  animation: blur3 10s ease infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-backwards {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes bob {
  0% {
    transform: translateX(0em) translateY(0em) translateZ(-8em);
  }
  33.33% {
    transform: translateX(0em) translateY(0em) translateZ(2em);
  }
  66.66% {
    transform: translateX(0em) translateY(0em) translateZ(-8em);
  }
}
@keyframes blur1 {
  0% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
  33.33% {
    transform: translateX(0em) translateY(0em) translateZ(15em);
  }
  66.66% {
    transform: translateX(0em) translateY(0em) translateZ(-15em);
  }
  100% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
}
@keyframes blur1 {
  0% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
  33.33% {
    transform: translateX(0em) translateY(0em) translateZ(15em);
  }
  66.66% {
    transform: translateX(0em) translateY(0em) translateZ(-15em);
  }
  100% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
}
@keyframes blur1 {
  0% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
  33.33% {
    transform: translateX(0em) translateY(0em) translateZ(15em);
  }
  66.66% {
    transform: translateX(0em) translateY(0em) translateZ(-15em);
  }
  100% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
}

@media screen and (max-width: 860px) {
  .background-grid {
  }
  .background-grid li {
    width: 25%;
  }
  .background-grid li:nth-child(odd) {
    display: none;
  }
}
.custom-textarea::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
}

/* Animation 4 -----------------------------------------------------------*/
